@font-face {
  font-family: 'Aptos';
  src: url('../fonts/aptos.ttf') format('truetype');
}
@font-face {
  font-family: 'Aptos Bold';
  src: url('../fonts/aptos-bold.ttf') format('truetype');
}

:root {
--primary-blue: #0078D4;
--light-gray: #F2F4F7;
--lighter-gray: #F9FAFB;
--dark-gray: #484848;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #e4e4e7;
}

body {
  font-family: 'Aptos', sans-serif;
  background-color: white;
  color: #333;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Header styles */
.slide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.page-content{
  margin-top: 80px;
}

/* Button styles */
.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s;
  color: var(--primary-blue);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  color: white;
  font-size: 14px;
  padding: 10px 32px;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 10px 32px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #32a0d9;
}

/* Input styles */
.slide-input {
  margin-bottom: 2rem;
}

.input-container {
  background-color: var(--light-gray);
  border-radius: 16px;
  padding: 10px;
}

.text-input {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
  font-family: 'Aptos', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 0.5rem 0;
}

.input-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.slides-wrapper{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.column-one{
  width: 25%;
}

.column-two{
  width: 75%;
}

.title{
  font-size: 14px;
  font-weight: 600;
  color: #98A2B3;
  margin-bottom: 16px;
}

.slide-designs{
  height: 650px;
  padding: 15px;
  background-color: #FCFCFD;
  overflow: hidden; /* Enables vertical scrolling */
  border-radius: 15px;
}

.generated-slides{

}

.slider .slide img{
  width: 100%;
  cursor: pointer;
}

.slick-vertical {
  position: relative;
}
.slick-vertical .slick-slide {
  /* opacity: 0.5; */
  margin-bottom: 6px;
  border: 4px solid transparent;  
}

.slick-vertical .slick-current {
  opacity: 1;
  border-radius: 10px;
  border: 4px solid var(--primary-blue);
}
.slick-vertical .slick-current:after{
  content: "";
  height: 35px;
  margin-top: -100px;
  width: 35px;
  background-image: url(../images/circle-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: -15px;
}